<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Community Streamers{% endblock %}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #a0a0a0;
        }

        .liveindicator {
            float: right;
            position: relative;
            left: -15%;
        }

        .dropshadow {
            box-shadow: 5px 5px 10px 1px #404040;
        }

        .glow {
            box-shadow: 0px 0px 10px 1px #404040;
        }

        .profileimg {
            max-height: 125px;
        }

        .previewimg {
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
